.header {
    height: 8vh;
    color: #fff;

    h1 {
        color: #fff;
        margin: 0 4vh;
    }

    mat-toolbar {
        padding:0;
        height: 8vh;

        img {
            width: 19vh;
            cursor: pointer;
        }

        .example-fill-remaining-space {
        /* This fills the remaining space, by using flexbox. 
            Every toolbar row uses a flexbox row layout. */
        flex: 1 1 auto;
        }

        .logout {
            font-size: 14px;
            color: #fff;
        }
    }

    .mat-toolbar {
        background: #000;
        border-bottom: 4px solid #70c730;
        padding: 1vh;
    }

    nav {
        margin-left: 10vh;
        font-size: 2.5vh;
        margin-top: 2vh;

        ul {
            margin: 0;
            height: 8vh;
            padding: 0vh;

            li {
                display: inline-block;
                padding-top: 1vh;
                margin-right: 1vh;
                color: #fff;
                font-size: 20px;
                a {
                    text-decoration: none;
                    color: #fff;
                    margin-right: 3vh;
                }
        
                a.active {
                    color: #749911;
                }
            }
        }
    }
}