<div class="header">
  <mat-toolbar>
    <span><img src="../../assets/Image/deloitte_logo.jpg"></span>

    <nav>
      <ul>
        <li><a [routerLink]="['/home/reporting']" routerLinkActive="active">Summary Dashboard</a></li>
        <li><a [routerLink]="['/home/validation']" routerLinkActive="active">Data Validation</a></li>
      </ul>
    </nav>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    <!--<span class="logout">Logout</span>-->
    <nav>
      <ul>
        <li><a [routerLink]="['/home/help']" routerLinkActive="active">Help <i class="fa fa-question-circle" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
   
  </mat-toolbar>
</div>
<router-outlet></router-outlet>