.header {
    height: 8vh;
    color: #fff;

    mat-toolbar {
        padding:0;
        height: 8vh;

        img {
            width: 19vh;
        }

        .example-fill-remaining-space {
        /* This fills the remaining space, by using flexbox. 
            Every toolbar row uses a flexbox row layout. */
        flex: 1 1 auto;
        }
    }

    .mat-toolbar {
        background: #000;
        border-bottom: 4px solid #70c730;
        padding: 1vh;
    }
}

.landing-content {
    mat-card  {
        height: 85vh;
        width: 97%;
        margin: 10px;
    }

    div.error-msg {
        height: 265px;
        padding: 4vh 18vh 0;
        font-size: 3vh;
        font-weight: bold;
        color: #80808099;
    }

    table {
        width: 80%;
        margin: 1vh 0;

        tbody {
            td {
                width: 20%;

                label {
                    font-size: 12px;
                    font-weight: bold;
                }

                span {
                    color: red;
                    font-size: 13px;
                    font-weight: bold;
                    margin-left: 2px;
                }
            }
            select, input {
                width: 83%;
                border-radius: 6px;
                padding: 7px;
            }
            input {
                width: 80%;
                border: 1px solid gray;
            }
        }
    }

    table.warehouse-dropdown {
        width: 20%;
    }
    
    button {
        margin: 0px 77vh;
        background: #70c730;
        color: #fff;
    }
    
    .test-btn {
        margin: 0 3px;
        border: 0;
        padding: 4px;
        border-radius: 3px;
    }

    .test-btn:disabled {
        background: rgba(112, 199, 48, 0.53);
        color: #fff;
        cursor: not-allowed;
    }
    div.horizontal-separator {
        border: 4px solid #70c730;
        margin: 20px 0;
    }

    div.table-wrapper a {
        font-size: 11px;
    }

    p.table-header {
        font-size: 20px;
        color: #70c730;
        font-weight: bold;
        text-decoration: underline;
        margin-top: 1vh;
    }

    table#output-table {
        width: 100%;
        text-align: left;
        margin: 12px 2px;
        border: 3px solid gray;

        thead {
            background: #000;
            color: #fff;
        }
        th, td {
            padding: 8px 10px;
            width: fit-content;
        }

        th {
            color: #fff;
        }

        tbody tr:nth-child(even) {
            background-color: rgba(119, 201, 59, 0.2);
        }
    }

    .mat-row:nth-child(even){
        background-color:rgba(119, 201, 59, 0.2);;
    }

    .mat-row {
        height: 36px;
    }

    tr.mat-header-row {
        height: 45px;
        background: #000;
        color: #fff;
    }
}