<div class="landing-content">
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <i><span style="color:red;font-size:12px">* </span><span style="font-size:12px">marked fields are mandatory</span></i>
      <table class="warehouse-dropdown">
        <thead></thead>
        <tbody>
          <td>
            <label>Select Cloud Data Warehouse</label><span>*</span>
            <select name="warehouseType" [(ngModel)]="details.warehouseType"> 
                <option value="" disabled selected>---Select---</option>
                <option *ngFor="let type of warehouseType" [value]="type.value">{{type.title}}</option> 
            </select>
          </td>
        </tbody>
      </table>
      <div class="connection-details">
        <table>
          <thead></thead>
          <tbody>
            <td *ngIf="details.warehouseType!=='Snowflake'">
              <label>Enter Server Details</label><span>*</span>
              <input matbInput type="text" [(ngModel)]="details.server" name="server" required >
            </td>
            <td>
              <label>Enter Username</label><span>*</span>
              <input matbInput type="text" [(ngModel)]="details.username" name="username" required >
            </td>
            <td>
              <label>Enter Password</label><span>*</span>
              <input matbInput type="password" [(ngModel)]="details.pswd" name="pswd" required >
            </td>
            <td *ngIf="details.warehouseType=='Snowflake'">
              <label>Enter the warehouse</label><span>*</span>
              <input matbInput type="text" [(ngModel)]="details.warehouse" name="warehouse" required >
            </td>
            <td>
              <label style="display:none">Test Connection</label><br>
              <span *ngIf="connectionSet == 'error'"><i class="fa fa-times" aria-hidden="true" style="color:red"></i></span>
              <span *ngIf="connectionSet == 'success'"><i class="fa fa-check" aria-hidden="true" style="color:green"></i></span>
              <button class="test-btn" 
              [disabled]="(!details.warehouseType || !details.pswd || !details.username || !details.warehouse) 
              && (!details.warehouseType || !details.pswd || !details.username || !details.server)" 
              (click)="testConnection()">Test Connection</button>
            </td>
          </tbody>
        </table>
      </div>
      <table *ngIf="connectionSet== 'success'">
          <thead></thead>
          <tbody>
            <td>
              <label>Enter Schema</label><span>*</span>
              <select name="schemaName" [(ngModel)]="details.schema" (change)="schemaChanged($event.target.value)"> 
                <option value="" disabled selected>--- Select ---</option>
                <option *ngFor="let schema of schemaList" [value]="schema">{{schema}}</option> 
              </select>
            </td>
            <td>
              <label>Enter Table Name to Validate</label><span>*</span>
              <select name="tableName" [(ngModel)]="details.table_to_validate"> 
                <option value="" disabled selected>--- Select ---</option>
                <option *ngFor="let table of tableList" [value]="table">{{table}}</option> 
              </select>
            </td>
            <td>
              <label>Select Type of Validation to Perform</label><span>*</span>
              <select name="validationType" [(ngModel)]="details.validationType"> 
                <option value="" disabled selected>--- Select ---</option>
                <option *ngFor="let type of validationType" [value]="type">{{type}}</option> 
              </select>
            </td>
            <td></td>
          </tbody>
        </table>
        <button *ngIf="connectionSet == 'success'" mat-raised-button (click)="explore()">Validate</button>
        <div class="horizontal-separator"></div>
        <div class="table-wrapper" *ngIf="isValidated">
          <a [routerLink]="['/home/reporting']"><i>Go to reporting dashboard</i></a>
          <p class="table-header">Validation Execution Summary Report</p>
          <div class="error-msg" *ngIf="!showSummaryTable">{{summaryText}}</div>
          <div class="table-output-wrapper" *ngIf="showSummaryTable">
            <table id="output-table" mat-table [dataSource]="datasource">

              <!-- BATCH DATE Column -->
              <ng-container matColumnDef="Batch_date">
                <th mat-header-cell *matHeaderCellDef> BATCH DATE </th>
                <td mat-cell *matCellDef="let element"> {{element.batch_date}} </td>
              </ng-container>
    
              <!-- Validation Date Column -->
              <ng-container matColumnDef="Validation_Date">
                <th mat-header-cell *matHeaderCellDef> VALIDATION DATE </th>
                <td mat-cell *matCellDef="let element"> {{element.validation_date}} </td>
              </ng-container>
    
              <!-- Table Name Column -->
              <ng-container matColumnDef="Table_Name">
                <th mat-header-cell *matHeaderCellDef> TABLE NAME </th>
                <td mat-cell *matCellDef="let element"> {{element.tablename}} </td>
              </ng-container>
    
              <!-- Error Description Column -->
              <ng-container matColumnDef="Error_Description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ERROR DESCRIPTION </th>
                <td mat-cell *matCellDef="let element"> {{element.error_desc}} </td>
              </ng-container>
    
              <!-- Error Code Column -->
              <ng-container matColumnDef="Error_Count">
                <th mat-header-cell *matHeaderCellDef> ERROR COUNT </th>
                <td mat-cell *matCellDef="let element"> {{element.err_count}} </td>
              </ng-container>
    
              <!-- Error Severity Column -->
              <ng-container matColumnDef="Error_Severity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ERROR SEVERITY </th>
                <td mat-cell *matCellDef="let element"> {{element.error_severity}} </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons class="m10"></mat-paginator>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
  
</div>
