.chart-wrapper {
    width: 98vw;
    margin: 0.5vh;

    mat-card {
        height: 108vh;
        padding: 5px;

        .dropdown-wrapper {
            select {
                padding: 5px;
                border-radius: 6px;
            }
        }

        .vertical-separator {
            border: 2px solid #70c730;
            float: left;
            height: 108vh
        }

        .info-icon {
            margin: 1.5vh 0.5vh;
            cursor: pointer;
            margin-right: 12vh;
        }

        div.error-msg {
            height: 265px;
            padding: 4vh 18vh 0;
            font-size: 3vh;
            font-weight: bold;
            color: #80808099;
        }

        span.div-info {
            margin: 24px;
            color: gray;
            text-decoration: underline;
            font-weight: bold;
            font-size: 12px;
        }

        .content-wrapper {
            width: 47.5vw;
            padding: 0 0 0 1vh;
            float: left;

            .right-table-wrapper {
                width: 45vw;
                margin-right: 1vh;

                .filter-wrapper {
                    height: 6vh;
                }
            }

            .graph-wrapper {
                width: 42vw;
                float: left;
                margin-bottom: 2vh;
                height: 45vh;

                #chart1, #chart2 {
                    height: 35vh;
                    margin: 2vh 3vh;
                }
            }

            p.table-header {
                font-size: 20px;
                color: #70c730;
                font-weight: bold;
                text-decoration: underline;
                margin: 1vh 0;
            }

            #dashboard-table-1, #dashboard-table-2 {
                text-align: left;
                border: 3px solid gray;
                width: 98%;
    
                thead {
                    background: #000;
                    color: #fff;
                }
                th, td {
                    padding: 6px 10px;
                    border-right: 1px solid #70c730;
                }

                th {
                    color: #fff;
                }

                tbody tr:nth-child(even) {
                    background-color: rgba(119, 201, 59, 0.2);
                }
            }

            .mat-row:nth-child(even){
                background-color:rgba(119, 201, 59, 0.2);;
            }
        
            .mat-row {
                height: 30px;
            }
        
            tr.mat-header-row {
                height: 45px;
                background: #000;
                color: #fff;
            }
        }
    }  
}