<section class="chart-wrapper">
  <div class="chart-container" *ngIf="connectionSet !== 'success'"></div>
  <div class="chart-container" *ngIf="connectionSet == 'success'">
    <mat-card>
      <mat-card-content>
        <div class="content-wrapper">
          <div class="dropdown-wrapper">
            <mat-form-field>
              <mat-label>Rolling Period</mat-label>
              <mat-select [(ngModel)]="rollingPeriod" (selectionChange)="rollingPeriodChanged($event.value)">
                <mat-option *ngFor="let period of periods" [value]="period.value">{{period.title}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="graph-wrapper" *ngIf="showChart1">
            <p class="table-header" style="float:left">{{topChartTitle}}</p>
            <i class="fa fa-info-circle info-icon" aria-hidden="true" title="Displays the count of errors by each error type for the selected rolling period"></i>
            <div id="chart1"></div>
          </div>
          <div class="error-msg"  *ngIf="!showChart1 ">No data available for the selected criteria</div>
          <div class="error-msg" *ngIf="!showValidationTable">No data available for the selected criteria</div>
          <div class="right-table-wrapper" *ngIf="showValidationTable">
            <div>
              <p class="table-header" style="float:left">Validation Execution Summary Report</p>
              <i class="fa fa-info-circle info-icon" aria-hidden="true" 
              title="The table provides information about the batch date of the run, the table name, the description of the error incurred
              the number of error instances in the table on the batch date, the severity of the error
              and Source file flag specifying where the table is a source or target table"></i>
            </div>
            <div class="filter-wrapper" style="float:left">
              <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
                <mat-label>Filter {{filter.name}}</mat-label>
                <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                  (change)="filterChange(filter,$event)">
                  <option value="">-- Select {{filter.name}} --</option>
                  <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                </select>
              </mat-form-field>
              &nbsp;
              <button mat-flat-button color="#007030" (click)="resetFilters()">Reset</button>
            </div>
            <table id="dashboard-table-2" mat-table [dataSource]="table2Source">

              <!-- BATCH DATE Column -->
              <ng-container matColumnDef="Batch_date">
                <th mat-header-cell *matHeaderCellDef> BATCH DATE </th>
                <td mat-cell *matCellDef="let element"> {{element.batch_date}} </td>
              </ng-container>

              <!-- VALIDATION DATE Column -->
              <ng-container matColumnDef="Validation_Date">
                <th mat-header-cell *matHeaderCellDef> VALIDATION DATE </th>
                <td mat-cell *matCellDef="let element"> {{element.validation_date}} </td>
              </ng-container>
    
              <!-- Table Name Column -->
              <ng-container matColumnDef="Table_Name">
                <th mat-header-cell *matHeaderCellDef> TABLE NAME </th>
                <td mat-cell *matCellDef="let element"> {{element.table_name}} </td>
              </ng-container>
    
              <!-- Error Description Column -->
              <ng-container matColumnDef="Error_Description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ERROR DESCRIPTION </th>
                <td mat-cell *matCellDef="let element"> {{element.error_desc}} </td>
              </ng-container>
                  
              <!-- Error Code Column -->
              <ng-container matColumnDef="Error_Count">
                <th mat-header-cell *matHeaderCellDef> ERROR COUNT </th>
                <td mat-cell *matCellDef="let element"> {{element.error_count}} </td>
              </ng-container>
    
              <!-- Error Severity Column -->
              <ng-container matColumnDef="Error_Severity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ERROR SEVERITY </th>
                <td mat-cell *matCellDef="let element"> {{element.error_severity}} </td>
              </ng-container>

              <!-- Source File Flage -->
              <ng-container matColumnDef="Source_File">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SOURCE FILE </th>
                <td mat-cell *matCellDef="let element"> {{element.source_file_flag}} </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="table2_headers"></tr>
              <tr mat-row *matRowDef="let row; columns: table2_headers;"></tr>
            </table>
            <mat-paginator #TableTwoPaginator="matPaginator" [pageSizeOptions]="[5]" showFirstLastButtons class="m10"></mat-paginator>
          </div>
        </div>
        <div class="vertical-separator"></div>
        <!--<span class="div-info">**<i>Data displayed below if for current month</i></span>-->
        <div class="content-wrapper">
          <div class="dropdown-wrapper">
            <mat-form-field>
              <mat-label>Select Month</mat-label>
              <mat-select [(ngModel)]="selectedMonth" (selectionChange)="monthChanged($event.value)">
                <mat-option *ngFor="let month of months" [value]="month.value">{{month.title}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="graph-wrapper">
            <p class="table-header" style="float:left">Monthly Top 10 tables with Maximum Errors</p>
            <i class="fa fa-info-circle info-icon" style="float:left" aria-hidden="true" title="The graph displays 10 tables with the maximum number of error instances"></i>
            <div class="dropdown-wrapper">
              <mat-form-field>
                <mat-label>Error Description</mat-label>
                <mat-select [(ngModel)]="selectedErrorDescription" (selectionChange)="renderTopErrorChart($event.value)">
                  <mat-option *ngFor="let error of errorDescriptionList" [value]="error">{{error}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div id="chart2" *ngIf="showChart2"></div>
            <div class="error-msg" *ngIf="!showChart2">No data available for selected criteria</div>
          </div> 
          <div class="right-table-wrapper">
            <p class="table-header" style="float:left">Current vs Prior Month Error Trend</p>
            <i class="fa fa-info-circle info-icon" aria-hidden="true" title="The table enlists all the errors occurred in the current month and its error instance."></i>
            <div class="filter-wrapper"></div>
            <div class="error-msg" *ngIf="!showErrorTrendTable">No data available for selected criteria</div>
            <table id="dashboard-table-1" mat-table [dataSource]="table1Source" *ngIf="showErrorTrendTable">
    
              <!-- Error Description Column Column -->
              <ng-container matColumnDef="Error_Description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ERROR DESCRIPTION </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
              </ng-container>
    
              <!-- Error Count Column -->
              <ng-container matColumnDef="Error_Count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ERROR INSTANCE </th>
                <td mat-cell *matCellDef="let element"> {{element.error_count}} </td>
              </ng-container>

              <!-- Prior Comparison Column -->
              <ng-container matColumnDef="vs_Prior">
                <th mat-header-cell *matHeaderCellDef> vs PRIOR (%) </th>
                <td mat-cell *matCellDef="let element">
                  <i *ngIf="element.indicator == 'down'" class="fa fa-caret-down" style="color:red; font-size:16px" aria-hidden="true"></i>
                  <i *ngIf="element.indicator == 'up'" class="fa fa-caret-up" style="color:green; font-size:16px" aria-hidden="true"></i>
                  {{element.prior}}
                </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="table1_headers"></tr>
              <tr mat-row *matRowDef="let row; columns: table1_headers;"></tr>
            </table>
            <mat-paginator #TableOnePaginator="matPaginator" [pageSizeOptions]="[5]" showFirstLastButtons class="m10"></mat-paginator>
          </div>     
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
