<section class="help-page-wrapper">
  <mat-card>
    <mat-card-content>
      <h1>Scope of the Data Validation Tool</h1>
      <p>The Scope of this tool is as follows:</p>
      <ul>
        <li>A comprehensive and appealing status Report based on the results obtained</li>
        <li>Exhaustive error logs for all the failed results</li>
      </ul>
      <br>
      <h2>Process Flow</h2>
      <pre>The process for Data Validation is specified below:
        Step 1: One-time master tables are created which the project needs to load to facilitate the functioning of this tool.
        Step 2: The user provides details like database name, schema names on which to run the validation as well as the connection details to the platform. 
                This information is entered into a batch file which is used as an input for the tool to connect to the database and fetch the data.
        Step 3: The Initial Data Governance check will run as a part of a scheduled run and generates error logs highlighting the integrity of Data loaded.
        Step 4: The UI displays the results based on the errors found during the scheduled runs. 
        Step 5: Based on the results, the user can re-run any specific component by selecting the specific Table and rule which needs to be re-validated.
      </pre>
      <br>
      <h2>Data Governance Rules:</h2>
      <table>
        <thead>
          <tr>
            <th>Rule</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mandatory Field Value is missing</td>
            <td>Validates the key columns for Nulls or missing values.</td>
          </tr>
          <tr>
            <td>Date field and type is incorrect</td>
            <td>Validates the format and the values for Date fields.</td>
          </tr>
          <tr>
            <td>Duplicates in Primary Key/composite Key</td>
            <td>Validates key columns for duplicate values.</td>
          </tr>
          <tr>
            <td>Special characters Check</td>
            <td>Validates predefined set of special characters received in any column.</td>
          </tr>
          <tr>
            <td>True duplicates Check</td>
            <td>Checks for true duplicates at table level.</td>
          </tr>
          <tr>
            <td>Range check for numeric fields</td>
            <td>Validates for out of range values for numeric fields.</td>
          </tr>
          <tr>
            <td>SCD check</td>
            <td>Based on the key columns, only one active record should be present.</td>
          </tr>
        </tbody>
      </table>
      <br>
      <h2>Reporting Dashboard</h2>
      <h3>Error Count by Error Type:</h3>
      <pre>
      To view the count of errors by each error type, the user can select the period for which he wants that information from the ‘Rolling period’ filter. For the current month, a bar
      graph is generated displaying error counts for each day of the month till date. When viewing the information for the last 3 months, a pie chart is displayed providing the error 
      count for each error. To view the errors only for a particular error type, we can uncheck the other error types from the legend below.
      </pre>

      <h3>Current vs Prior Month Error Trend:</h3>
      <pre>
      The table enlists all the errors occurred in the current month and its error instance. Error instance is the number of scheduled runs where the respective error types occurred. It also 
      specifies the change (increase/decrease) in error instances of current month compared to those of the month prior to it.
      </pre>

      <h3>Monthly Top 10 tables with Maximum Errors:</h3>
      <pre>
        The graph displays 10 tables with the maximum number of error instances. The top 10 tables are chosen for the selected error type in the month selected.
      </pre>

      <h3>Validation Execution Summary Report:</h3>
      <pre>
        The table provides the following information:
        1. The batch date of the run
        2. The table name
        3. The description of the error incurred
        4. The number of error instances in the table on the batch date
        5. The severity of the error
        6. Source file flag specifying where the table is a source or target table
        The information can also be filtered for the batch date, table and the error description.
      </pre>
      <br>

      <h2>Validation Page</h2>
      <h3>Test connection</h3>
      <pre>
        To run an ad hoc validation, the user needs to connect with the database. For that, he/she needs to provide the relevant connection information like Cloud Data Warehouse and User Details
        & test if he is able to connect by clicking on ‘Test Connection’. Once the connection is tested, the user is asked to choose the table and the rule which he wants to be validated. To run 
        the validation, he can simply click on ‘Validate’ after entering the adequate details.
      </pre>

      <h3>Execution Report</h3>
      <pre>
        The table displays the execution report when running an ad hoc validation from the UI for the selected table and rule. The report contains information about the batch date, the record count 
        with the selected error and the severity of the error.
      </pre>
    </mat-card-content>
  </mat-card>
</section>
