/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #8080802e;}

.mat-snack-bar-container {
    position: absolute;
    top: 7vh;
    right: 0;
    background: #cd1515;
}
